/* 
 * 1. Google Font
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);
/* 
 * 2.0 Global Style
 */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  color: #4e4e4e;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
}
a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  margin: 0 0 30px;
}

ul li {
  font-weight: 700;
  margin-bottom: 10px;
}

.custom-list-icon, .list-arrow-right {
  list-style-type: none;
  padding: 0;
}
.custom-list-icon li, .list-arrow-right li {
  position: relative;
  padding-left: 20px;
}
.custom-list-icon li::before, .list-arrow-right li::before {
  position: absolute;
  left: 0;
  color: #4e4e4e;
  font-family: "Ionicons";
}

.social-block {
  list-style-type: none;
  padding: 0;
}
.social-block li {
  display: inline-block;
}
.social-block li a {
  display: inline-block;
  height: 32px;
  width: 32px;
  color: #4e4e4e;
}
.social-block li a i {
  font-size: 1.5em;
}
.social-block li a:hover, .social-block li a:focus {
  color: #000;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.btn {
  border: 0;
  border-radius: 0;
  padding: 6px 28px;
  text-transform: uppercase;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
}
.btn:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}


.valign-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding: 70px 0;
}

.section-title {
  color: #313131;
  letter-spacing: 1px;
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
}

/* 
 * 3.0 Helper Class
 */
/* 
 * 3.1 Helper Class: font-weight
 */
.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-700 {
  font-weight: 700;
}

/* 
 * 3.2 Helper Class: margin
 */
.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20px;
}

/* 
 * 3.3 Helper Class: list
 */
.list-arrow-right li::before {
  content: "\f3d3";
}

/* 
 * 3.4 Helper Class: button
 */
.btn-white {
  color: #000;
  background-color: #fff;
}
.btn-white:hover, .btn-white:focus {
  color: #000;
  background-color: #fff;
}

.btn-black {
  color: #fff;
  background-color: #000;
}
.btn-black:hover, .btn-black:focus {
  color: #fff;
  background-color: #000;
}

/* 
 * 3.5 Helper Class: background
 */
.bg-image, .bg-image-1, .bg-image-2 {
  position: relative;
}
.bg-image::before, .bg-image-1::before, .bg-image-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-image-1 {
  background: url(../images/backgrounds/bg-1.jpg) no-repeat center center/cover;
}
.bg-image-1::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-image-2 {
  background: url(../images/backgrounds/bg-2.jpg) no-repeat center bottom/cover;
}
.bg-image-2::before {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .section {
    padding: 90px 0;
  }

  .section-title {
    color: #313131;
    letter-spacing: 1px;
    margin: 0 0 60px;
    text-transform: uppercase;
    text-align: left;
  }
}
/* 
 * 4.0 Navigation
 */
.navbar-custom {
  border: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}
.navbar-custom .navbar-nav li {
  margin: 0;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}
.navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar-custom .navbar-nav > .active > a {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggle {
  border: 0;
  border-radius: 0;
  margin-top: 2px;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-solid {
  background-color: #000 !important;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}

.site-branding {
  float: left;
  margin-top: 0;
  margin-left: 10px;
}
.site-branding .logo {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.site-branding .logo:focus, .site-branding .logo:hover {
  text-decoration: none;
}

/* 
 * 5.0 Site Header
 */
.site-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/backgrounds/header1.jpg) no-repeat center center/cover;
  display: table;
}
.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.site-header .intro {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
  padding: 0 15px;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}
.site-header .intro h2 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
}
.site-header .intro h1 {
  margin-top: 0px;
  font-size: 30px;
}
.site-header .intro p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
  }

  .site-branding {
    margin-top: 6px;
    margin-left: 0;
  }
}
/* 
 * 6.0 Section
 */
/* 
 * 6.1 Section: About 
 */
.about .section-title {
  margin: 0 0 25px;
}
.about figure {
  margin-bottom: 25px;
}

/* 
 * 6.2 Section: Facts
 */
.facts i {
  color: #fff;
  font-size: 3em;
}
.facts h3 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

/* 
 * 6.3 Section: Speaker
 */
.speaker {
  text-align: center;
  color: #313131;
  text-transform: uppercase;
  margin: 25px 0;
}
.speaker h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
.speaker p {
  margin-bottom: 5px;
}
.speaker img:hover {
  opacity: .7;
}

/* 
 * 6.4 Section: Registration & Pricing
 */
/* 
 * 6.5 Section: Contribution
 */
.contribution {
  text-align: center;
  color: #fff;
}

/* 
 * 6.6 Section: Schedule
 */
.schedule-box {
  position: relative;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  margin: 25px 0 0;
}
.schedule-box::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px solid #fff;
}

/* 
 * 6.7 Section: Schedule
 */
.partner {
  background-color: #f8f8f8;
}
.partner .partner-box {
  display: block;
  opacity: 0.3;
  height: 150px;
  width: 150px;
  margin: 25px auto;
  -webkit-transition: 0.5s all linear;
          transition: 0.5s all linear;
}
.partner .partner-box:hover {
  opacity: 1;
}
.partner .partner-box-1 {
}
.partner .partner-box-2 {
}
.partner .partner-box-3 {
}
.partner .partner-box-4 {
}
.partner .partner-box-5 {
}
.partner .partner-box-6 {
}
.partner .partner-box-7 {
}
.partner .partner-box-8 {
}

/* 
 * 6.8 Section: FAQ
 */
.faq .panel-heading {
  cursor: pointer;
}
.faq .faq-toggle.collapsed::before {
  font-family: "Ionicons";
  content: "\f218";
  -webkit-transition: 0.5s linear ease-out;
          transition: 0.5s linear ease-out;
  position: absolute;
  left: 15px;
}
.faq .faq-toggle::before {
  position: absolute;
  left: 15px;
  font-family: "Ionicons";
  content: "\f209";
}
.faq .panel-group .panel + .panel {
  margin-top: 15px;
}
.faq .panel-default > .panel-heading {
  color: #FFF;
  background-color: #000000;
  border-color: #000;
  border-radius: 0;
  padding: 0;
}
.faq .panel-default > .panel-heading a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 15px 15px 15px 35px;
}

/* 
 * 6.9 Section: photos
 */
.grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.grid::after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  overflow: hidden;
  padding: 3px;
  margin: 0;
  width: 100%;
}


/* 
 * 7.0 Site-footer
 */
.site-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
.site-footer .site-info {
  font-weight: 400;
  margin-bottom: 10px;
}
.site-footer .site-info a {
  color: #fff;
}
.site-footer .social-block li a {
  color: #fff;
}
.site-footer .social-block li a:hover, .site-footer .social-block li a:focus {
  opacity: 0.8;
}


/*For register Section*/

.register{
  background: url(../images/backgrounds/C1.jpg) no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.register p{
  font-family: "Open Sans";
}
.register button:hover{
  background-color: white;
  color:  rgba(6, 103, 133, 0.9);
}
.register-wrapper{
  margin-top:30px;
}
.register-content{
  background: rgba(6, 103, 133, 0.8);
  padding:60px 40px;
  color:#fff;
}
.register-content h4{
  color:#fff;
  text-transform:uppercase;
  font-size:26px;
  font-family: "Raleway Webfont";
  font-weight:600;
  margin-bottom:50px;
}
.register-content .content-details h5{
  color:#fff;
  font-size:18px;
}
.register-content .content-details h6{
  color:#ecf0f2;
  font-size:16px;
}
.register-content .content-details p{
  color:#ecf0f2;
}
.register-content .content-details.content-border{
  border-bottom:1px solid #dadada;
  padding-bottom: 30px;
  margin-bottom: 30px;
}


/***********************************************************************************************************/


/*----------------------------------
  Login Block
------------------------------------*/
/* login Block v1 */
.s-promo-block-v1__square-effect {
  position: relative;
}


/* login Block v2 */
.s-promo-block-v2 {
  position: relative;
  z-index: 1;
}

.s-promo-block-v2:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: rgba(152, 119, 234, 0.7) -25%, #13b1cd 100%);
  background-repeat: repeat-x;
  content: " ";
}

.s-promo-block-v2__form {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

@media (max-width: 61.9em) {
  .s-promo-block-v2__form {
    position: static;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* login Block v3 */
.s-promo-block-v3__divider {
  position: relative;
  padding-bottom: 1.875rem;
}

.s-promo-block-v3__divider:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0.1875rem;
  background-image: linear-gradient(145deg, rgba(152, 119, 234, 0.9) -25%, #13b1cd 100%);
  background-repeat: repeat-x;
  content: " ";
}

.s-promo-block-v3__date {
  line-height: .8;
  margin-right: 1rem;
}

.s-promo-block-v3__month, .s-promo-block-v3__year {
  display: block;
  line-height: 1.3;
}

.s-promo-block-v3__month {
  vertical-align: top;
}

/* login Block v4 */
.s-promo-block-v4 {
  position: relative;
  z-index: 1;
}

.s-promo-block-v4:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(34, 35, 36, 0.3) 0%, rgba(19, 177, 205, 0.6) 100%);
  background-repeat: repeat-x;
  content: " ";
}

/* login Block v5 */
.s-promo-block-v5 {
  position: relative;
  z-index: 1;
}

.s-promo-block-v5:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(28, 123, 172, 0.93) 0%, rgba(19, 177, 205, 0.93) 100%);
  background-repeat: repeat-x;
  content: " ";
}

/* login Block v6 */
.s-promo-block-v6 {
  position: relative;
  z-index: 1;
}

.s-promo-block-v6:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-180deg, rgba(28, 123, 172, 0.1) 0%, #13b1cd 80%);
  background-repeat: repeat-x;
  content: " ";
}

/* login Block v7 */
.s-promo-block-v7 {
  position: relative;
  z-index: 1;
}

.s-promo-block-v7:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.97) 0%, rgba(152, 119, 234, 0.97) 100%);
  background-repeat: repeat-x;
  content: " ";
}


/**freamwork**/
/*my fremwork*/

.g-bg-color--primary-to-blueviolet-ltr {
  background-image: linear-gradient(145deg,  rgba(223, 223, 219, 0.97) 0%,  rgba(223, 223, 219, 0.97) 100%);
  background-repeat: repeat-x;
}
/* Medium screen / tablet */
@media (min-width: 48em) {
  .g-fullheight--md {
    height: 100vh;
  }
}
/* Medium screen / tablet */

@media (min-width: 48em) {
  .g-hor-centered-row--md {
    width: 100%;
    display: table;
  }
  .g-hor-centered-row--md .g-hor-centered-row__col {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
  .site-footer{
    margin-top: 100px;
  }
}
.g-margin-t-30--xs {
  margin-top: 1.875rem;
}
.g-margin-t-20--sm {
    margin-top: 1.25rem;
}
.g-margin-b-40--xs {
  margin-bottom: 2.5rem;
}
.g-font-size-30--xs {
  font-size: 1.875rem !important;
}
.g-color--white {
  color: #fff !important;
}
.g-color--black {
  color: #000 !important;
}
.g-margin-b-30--xs {
  margin-bottom: 1.875rem;
}
.g-margin-b-20--xs {
  margin-bottom: 1.25rem;
}
.g-padding-x-50--xs {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.g-text-center--xs {
  text-align: center;
}
@media (min-width: 48em) {
  .g-text-center--md {
    text-align: center;
  }
  .g-text-left--md {
    text-align: left;
  }
  .g-text-right--md {
    text-align: right;
  }
  .g-text-inherit--md {
    text-align: inherit;
  }
}
.g-margin-b-60--xs {
  margin-bottom: 3.75rem;
}
 .g-margin-b-0--md {
    margin-bottom: 0rem;
  }
.s-promo-block-v1__square-effect {
  position: relative;
}
.g-font-size-32--xs {
  font-size: 2rem !important;
}

.g-color--white {
  color: #fff !important;
}
.g-font-size-20--xs {
  font-size: 1.25rem !important;
}
@media (min-width: 48em) {

 .g-font-size-26--md {
    font-size: 1.625rem !important;
  }
}
.g-margin-b-0--xs {
  margin-bottom: 0rem;
}
.g-display-block--xs {
  display: block;
}
@media (min-width: 62em) {
  .g-font-size-50--lg {
    font-size: 3.125rem !important;
  }
  .g-padding-x-10--lg {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .g-display-none--lg {
    display: none;
  }
  .g-display-block--lg {
    display: block;
  }
  .g-display-inline--lg {
    display: inline;
  }
  .g-display-inline-block--lg {
    display: inline-block;
  }
  .g-display-inherit--lg {
    display: inherit;
  }
.g-margin-b-10--lg {
    margin-bottom: 0.625rem;
  }
  .g-display-table--lg {
    display: table;
  }
}
  .g-margin-b-10--xs {
  margin-bottom: 0.625rem;
}
.g-padding-x-30--xs {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.g-radius--50 {
  border-radius: 3.125rem !important;
}
.g-padding-x-10--xs {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.g-font-size-11--xs {
  font-size: 0.6875rem !important;
}
.g-font-size-16--xs {
  font-size: 1rem !important;
}
.g-padding-x-0--xs {
  padding-left: 0rem;
  padding-right: 0rem;
}
.g-padding-x-40--xs {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.g-padding-y-60--xs {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.g-radius--4 {
  border-radius: 0.25rem !important;
}

.g-width-350--xs {
  width: 21.875rem;
}

/*----------------------------------
  Button of login page
------------------------------------*/
.pg-login .s-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: none;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.pg-login .s-btn:focus,.pg-login .s-btn:hover {
  text-decoration: none;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.pg-login .s-btn.focus {
  text-decoration: none;
}

.pg-login .s-btn:active,.pg-login .s-btn.active {
  background-image: none;
  outline: 0;
}

.pg-login .s-btn.disabled,.pg-login .s-btn:disabled,
fieldset[disabled] .s-btn {
  cursor: not-allowed;
  opacity: .65;
}

.pg-login .s-btn__element--left,.pg-login .s-btn__element--right {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.s-btn--white-brd {
  color: #fff;
  background: transparent;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #fff;
}
/* Sizes
------------------------------ */
.s-btn--xs {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.5rem 1.25rem;
}

.s-btn--sm {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.75rem 1.25rem;
}

.s-btn--md {
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 1rem 2.5rem;
}

.s-btn-icon--md {
  font-size: 1rem;
  padding: 0.9375rem 1.5625rem 0.75rem;
}

/* Styles
------------------------------ */
.s-btn--white-brd {
  color: #fff;
  background: transparent;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #fff;
}

.s-btn--white-brd:focus, .s-btn--white-brd:hover {
  color: #222324;
  background: #fff;
  border-color: #fff;
}

.s-btn--white-bg {
  color: #222324;
  background: #fff;
}

.s-btn--white-bg:focus, .s-btn--white-bg:hover {
  color: #13b1cd;
  background: #fff;
}

.s-btn--dark-bg {
  color: #fff;
  background: #222324;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #222324;
}

.s-btn--dark-bg:focus, .s-btn--dark-bg:hover {
  color: #fff;
  background: #13b1cd;
  border-color: #13b1cd;
}

.s-btn--dark-brd {
  color: #222324;
  background: transparent;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #222324;
}

.s-btn--dark-brd:focus, .s-btn--dark-brd:hover {
  color: #fff;
  background: #222324;
  border-color: #222324;
}

.s-btn--primary-bg {
  color: #fff;
  background: #13b1cd;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #13b1cd;
}

.s-btn--primary-bg:focus, .s-btn--primary-bg:hover {
  color: #fff;
  background: #13b1cd;
  border-color: #13b1cd;
}

.s-btn--primary-brd {
  color: #13b1cd;
  background: transparent;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #13b1cd;
}

.s-btn--primary-brd:focus, .s-btn--primary-brd:hover {
  color: #fff;
  background: #13b1cd;
  border-color: #13b1cd;
}

.s-btn-icon--white-brd {
  border-left: none;
}

.s-btn-icon--dark-brd {
  border-left: none;
}




/* Form Input v3 */
.s-form-v3__input {
  position: relative;
  height: 3.125rem;
  font-size: 0.8125rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  letter-spacing: .1rem;
  padding: 0 1.25rem 0 0;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.s-form-v3__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.s-form-v3__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.s-form-v3__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.s-form-v3__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.s-form-v3__input:focus {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.99);
  box-shadow: none;
}

.s-form-v3__input:focus::-webkit-input-placeholder {
  color: #fff;
}

.s-form-v3__input:focus::-moz-placeholder {
  color: #fff;
}

.s-form-v3__input:focus:-ms-input-placeholder {
  color: #fff;
}

.s-form-v3__input:focus::placeholder {
  color: #fff;
}

/*----------------------------------
  Horizontal Center Align
------------------------------------*/
.g-hor-centered-row--xs {
  width: 100%;
  display: table;
}


.g-bg-color--primary-to-blueviolet-ltr {
  background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.95) 0%, rgba(152, 119, 234, 0.95) 100%);
  background-repeat: repeat-x;
}

.g-bg-color--primary-ltr {
  background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.6) 0%, #13b1cd 100%);
  background-repeat: repeat-x;
}


/* Medium screen / tablet */
@media (min-width: 34em) {
  .g-hor-centered-row--sm {
    width: 100%;
    display: table;
  }
  .g-hor-centered-row--sm .g-hor-centered-row__col {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}







/********* UPLOADE PAGE********************/


/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input-title {
    margin-left:2px;
}